.main-picture-bg {
    height: 70vh;
    width: 70vw;
    background-image: url(/public/assets/images/main.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.main-buttons {
    height: 50%;
}

.modal-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.modal-buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 10px;
}

.modal-buttons button {
    margin: 0 5px;
}
