.footer {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    padding: 0 1rem;
    background-color: rgba(68, 101, 68, 0.62);
}

.about-project  {
    text-align: center;
    flex: 0 0 65%;
}

.about-me {
    text-align: center;
    flex: 0 0 35%;
}
